#button{
    background-color: goldenrod;
    padding: 1vh 5vw;
    font-family: "Roboto", sans-serif;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:6vh;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 5px 0 0 darkgoldenrod;
    transition:all 0.1s ease-in-out;
}

#button:hover{
    transform: translateY(10px);
    box-shadow: 0 0 0 0 darkgoldenrod;
}

#LeftArrow{
    padding: 15px 20px;
    font-family:"Roboto", sans-serif;
    display:flex;
    align-items:center;
    font-size: 45px;
    cursor:pointer;
    user-select: none;
}

#LeftArrow:hover {
    transition: all 0.2s ease-in-out;
    color: white;
}

#RightArrow{
    padding: 15px 20px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    font-size: 45px;
    cursor: pointer;
    user-select: none;
}

#RightArrow:hover
{
    transition: all 0.2s ease-in-out;
    color: white;
}

#Seleziona {
    background-color: goldenrod;
    padding: 1vh 5vw;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 5px 0 0 darkgoldenrod;
    transition: all 0.1s ease-in-out;
}

#Seleziona:hover {
    transform: translateY(10px);
    box-shadow: 0 0 0 0 darkgoldenrod;
}